:root {
  --background: white;
  --nav-background: #0d6efd;
  --input-background: #eee;
  --info-text: black; /* Default for light theme */
  --solution-count: red; /* Default for light theme */
  --shadow: 20px 16px 10px hsl(0deg 0% 0% / 0.25);
}

body {
  background: linear-gradient(to right, #000428, #004e92);
}

[data-theme="dark"] {
  --background: linear-gradient(to right, #000428, #004e92);
  --nav-background: linear-gradient(to right, #ff512f, #dd2476);
  --input-background: none;
  --info-text: white;
  --solution-count: yellow;
  --shadow: 0px -1px 5px green, 20px 16px 10px hsl(0deg 0% 0% / 0.25);
}

.theme {
  background-color: var(--background);
  height: 100vh;
}

.theme-icon {
  cursor: pointer;
}

.theme-icon:hover {
  color: orangered;
}

.theme nav {
  background: var(--nav-background);
}

.input-bar {
  background: var(--input-background);
}

@media (max-width: 576px) {
  .input-bar > button,
  .input-bar > div {
    margin: 5px 0;
  }
}

.possible-solutions {
  color: var(--info-text);
  z-index: 1;
}

.solution-count {
  color: var(--solution-count);
}

.solutions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding: 20px;
}

.solution-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}
